<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/data.css">
    <link rel="icon" href="truck.ico" type="image/x-icon">
    <title>{{pageTitle}}</title>
</head>

<body>
    <h1>{{pageTitle}}</h1>
    <button id="showData">Show Data</button>
    <button id="hideData">Hide Data</button>
    <table id="data-table">
        <!-- Data rows will be added dynamically -->
    </table>
    <script src="/script.js"></script>
</body>

</html>