<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles/header.css" />
    <link rel="stylesheet" href="/static/styles/footer.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap">
    <link rel="icon" href={{icon}}>
</head>

<body>
    <h1>{{title}}</h1>

    <section>
        <p>
        Founded by Joe Lindsay, JL'$ Auto Recycling is a trusted company dedicated to providing top-notch
        services in the automotive recycling industry. We take pride in our commitment to quality and
        customer satisfaction.
<br><br>
        With a legacy spanning over a decade, we have been serving the community from our headquarters in
        Hagaman, NY. Our journey started over 10 years ago, and throughout the years, we have built a
        reputation for reliability and excellence.
<br><br>
        At JL'$ Auto Recycling, we specialize in turning your unwanted or junk cars into cash. We
        understand the value of your vehicles, even in their retired state. Our team is dedicated to
        offering fair and competitive prices for your junk cars.
<br><br>
        <a href="/contact">Contact us</a>
        today to schedule a junk car pickup and turn your automotive burden into cash.
        Let us handle the process seamlessly, providing you with a hassle-free experience. Join
        countless satisfied customers who have chosen JL'$ Auto Recycling for their automotive recycling needs.
        </p>
    </section>

</body>

</html>