<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles/header.css" />
    <link rel="stylesheet" href="/static/styles/footer.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap">
    <link rel="icon" href={{icon}}>
</head>

<body id="mainbody">
    <h1>{{title}}</h1>
    <object style="width: 100%; height: 800px;" data={{pdf}}></object>
</body>

</html>