<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/jpeg">Images</a></li>
        <li><a href="/api_nasa">Nasa</a></li>
        <li><a href="/api_advice">Advice</a></li>
        <li><a href="/test">DB TEST</a></li>        
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</header>