<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap">
    <link rel="icon" href={{icon}}>
</head>

<body id="mainbody">
    <header>
    <nav id="headernav">
        {{> header}} {{! this brings in header.handlebars from partials}}
    </nav>
    </header>
<div>
        {{{ body }}}

</div>

    <nav id="footernav">
        <span>
            {{> footer}} {{! this brings in footer.handlebars from partials}}
        </span>
    </nav>

</body>

</html>