:root {
    --background-color: #000;
    --text-color: #00FF00;
    --font-family: Arial, sans-serif;
    --link-color: #00F;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

h1 {
    color: var(--link-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    border: 1px solid green;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: green;
    color: black;
}

button {
    background-color: var(--link-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid var(--link-color);
}

th,
td {
    padding: 8px;
    text-align: left;
}