<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles/header.css" />
    <link rel="stylesheet" href="/static/styles/footer.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap">
    <link rel="icon" href={{icon}}>
</head>

<body>
    <h1>{{title}}</h1>

    <section>
        <img src={{src}} alt="JL'$ Auto Recycling" height="100" width="150">

        <h2 id="contact">Have questions or need assistance? Reach out to us!</h2>
    </section>
    <section>
        <h2 id="h2">Phone:</h2>
        <textarea class="formtextarea" id="phone">518-423-0223</textarea>
    </section>
    </section>
    <section>
        <h2>Email:</h2>
        <form class="form" action="mailto:joelindsay@gmail.com" method="post" enctype="text/plain">
            <label class="formlabel" for="name">Your Name:</label>
            <input class="forminput" type="text" id="name" name="name" required>

            <label class="formlabel" for="email">Your Email:</label>
            <input class="forminput" type="email" id="email" name="email" required>

            <label class="formlabel" for="message">Your Message:</label>
            <textarea class="formtextarea" id="message" name="message" rows="4" required></textarea>
            <br>
            <button class="formbutton" type="submit">Submit</button>
        </form>
    </section>

</body>

</html>