<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="../../styles/week6.css">
    <link rel="icon" href="../../images/icon.ico" type="image/x-icon">
</head>

<body>
    <h1>Contact Us</h1>
    <p>Feel free to get in touch with us!</p>
    <p>Email: joelindsay@gmail.com</p>
    <p>Phone: 518-423-0223</p>
    <img src="../../images/JLSauto.jpg" alt="JL'$ Auto" title="JL'$ Auto">
    <a href="index.html">Home</a><br>
    <a href="about.html">About Us</a>

</body>

</html>