<h1>made it to home.handlebars</h1>

<p>Being developed by: {{ name }}</p>

<button onclick="fun()">Click me for some fun !</button>
<button onclick="nofun()">Click me for no fun !</button>

<p id="result"></p>

<p class="iceman">hello iceman</p>