<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/scrapcalc.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap">
    <link rel="icon" href={{icon}}>
</head>

<body>
    <h1>{{title}}</h1>

    <section>
        <h2>Select Your Vehicle</h2>
        <form id="vehicleForm" action="/views/scrapresult">
            <label for="year">Year:</label>
            <select id="year" name="year">
                <!-- Populate this dropdown dynamically with years -->
            </select>

            <label for="make">Make:</label>
            <select id="make" name="make">
                <!-- Populate this dropdown dynamically with makes -->
            </select>

            <label for="model">Model:</label>
            <select id="model" name="model">
                <!-- Populate this dropdown dynamically with models -->
            </select>

            <button class="button" type="button" onclick="calculateScrapPrice()">Calculate Scrap Price</button>
        </form>

        <div id="result">
            <!-- Display the scrap metal price here -->
        </div>
    </section>

    {{!-- <script>
        // Function to fetch and display the scrap metal price
        async function calculateScrapPrice() {
            const year = document.getElementById('year').value;
            const make = document.getElementById('make').value;
            const model = document.getElementById('model').value;

            try {
                // Send a request to your server to get the scrap metal price based on the selected vehicle
                const response = await axios.get(`/getMetalPrice/${year}-${make}-${model}`);

                // Display the scrap metal price
                document.getElementById('result').innerText = `Scrap Metal Price: $${response.data.metalPrice}`;
            } catch (error) {
                console.error(error);
                document.getElementById('result').innerText = 'Error fetching scrap metal price';
            }
        }
    </script> --}}
</body>

</html>