<h1>made it to home.handlebars</h1>

<p>Being developed by: {{ name }}</p>

<div>
    <button class="button" onclick="fun()">Click me for some fun !</button>
    <button class="button" onclick="nofun()">Click me for no fun !</button>
</div>
<p id="result"></p>

<p class="showexample">hello world</p>

<p>isAuthenticated: {{ isAuthenticated }}</p>
