<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="../../styles/week6.css">
    <link rel="icon" href="../../images/icon.ico" type="image/x-icon">
</head>

<body>
    <h1>{{pageTitle}}</h1><br>
    <button id="toggleButton">Show Data</button><br>
    <table id="dataTable" style="display:none;">
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Engine</th>
            <th>Manufacture Date</th>
        </tr>
    </table>
    <script src="../../scripts/selection.js"></script>
</body>

</html>
