<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/getScrapSteelPrice">Scrap Prices</a></li>
    </ul>
</header>