<header id="headernav">
    <ul class="nav-list">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="/scrapcalc" class="nav-link">Scrap Prices</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Log In</a></li>
    </ul>
</header>