<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</li>
        <li><a href="/api_dadjokes">Dad Jokes</a></li>
        <li><a href="/test">DB Test</a></li>
    </ul>
</header>