<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/header.css" />
        <link rel="stylesheet" href="/styles/footer.css" />
        <script src="/scripts/fun.js" defer></script>
    </head>
    <body>
        <nav id="headernav" >
            {{> header}} {{! this brings in header.handlebars from partials }}
        </nav>

        <main id="mainbody">
            {{{ body }}}
        </main>

        <nav id="footernav">
            <span>
                {{> footer}} {{! this brings in footer.handlebars from partials }}
            </span>
        </nav>
        
        
    </body>
</html>
