<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="week6.css">
    <link rel="icon" href="truck.ico" type="image/x-icon">
</head>

<body>
    <h1>About Us</h1>
    <p>We are a company dedicated to providing quality services.
        We are based out of Hagaman, NY and have been in business for over 10 years.
        Contact us today to price your junk car pickup.</p>
    <p>Learn more about our mission and values.</p>
    <a href="index.html">Home</a><br>
    <a href="contact.html">Contact Us</a>
</body>

</html>